In [3]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import shapiro, poisson, chisquare, expon, kstest
from scipy.stats import shapiro, levene
from scipy.stats import ttest_ind
from scipy.stats import mannwhitneyu
from scipy.stats import chi2_contingency
import seaborn as sn

In [9]:
df = pd.read_csv("files/marketing_AB.csv", index_col=0)
df.head()

   user id test group  converted  total ads most ads day  most ads hour
0  1069124         ad      False        130       Monday             20
1  1119715         ad      False         93      Tuesday             22
2  1144181         ad      False         21      Tuesday             18
3  1435133         ad      False        355      Tuesday             10
4  1015700         ad      False        276       Friday             14

In [10]:
df.tail()

        user id test group  converted  total ads most ads day  most ads hour
588096  1278437         ad      False          1      Tuesday             23
588097  1327975         ad      False          1      Tuesday             23
588098  1038442         ad      False          3      Tuesday             23
588099  1496395         ad      False          1      Tuesday             23
588100  1237779         ad      False          1      Tuesday             23

In [8]:
df.shape

(588101, 7)

In [11]:
df.isnull().sum()

user id          0
test group       0
converted        0
total ads        0
most ads day     0
most ads hour    0
dtype: int64

In [ ]:
df["converted"].unique()

(array([False,  True]),)

In [15]:
df["test group"].unique()

array(['ad', 'psa'], dtype=object)

In [17]:
tabla_cont=pd.crosstab(df["test group"], df["converted"])

In [18]:
tabla_cont

converted    False  True
test group
ad          550154  14423
psa          23104    420

In [19]:
chi2_contingency(tabla_cont)

Chi2ContingencyResult(statistic=np.float64(54.005823883685245), pvalue=np.float64(1.9989623063390075e-13), dof=1, expected_freq=array([[550327.71899045,  14249.28100955],
       [ 22930.28100955,    593.71899045]]))

In [20]:
_, p_value, _, _ = chi2_contingency(tabla_cont)

print(p_value)

1.9989623063390075e-13

In [21]:
p_value < 0.05

np.True_

In [ ]:
#después de realizar las pruebas de A/B testing, podemos decir que existe una diferencia significativa entro los dos grupos.
#El nuevo diseño de anuncio es más efectivo en la conversión de usuarios

EJERCICIO 2

In [25]:
df.value_counts()

user id  test group  converted  total ads  most ads day  most ads hour
1654483  ad          False      7          Friday        10               1
900000   psa         False      2          Wednesday     16               1
900001   psa         False      23         Thursday      16               1
900002   psa         False      86         Thursday      21               1
900003   psa         False      97         Friday        11               1
                                                                         ..
900009   psa         False      24         Tuesday       14               1
900008   psa         False      19         Thursday      17               1
900007   psa         False      42         Saturday      14               1
900006   psa         False      45         Sunday        8                1
900005   psa         False      24         Tuesday       14               1
Name: count, Length: 588101, dtype: int64

In [29]:
df.describe(include="object").T

               count unique     top    freq
test group    588101      2      ad  564577
most ads day  588101      7  Friday   92608

In [34]:
grupo_ad = df[df["test group"]== "ad"]["converted"]
grupo_psa = df[df["test group"]=="psa"]["converted"]

In [35]:


tasa_conversion = df[df["converted"] == True]/grupo_ad.shape[0]

TypeError: unsupported operand type(s) for /: 'str' and 'int'